<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
          name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <link href="style/style.css" rel="stylesheet">

    <link crossorigin="anonymous" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">

    <script
            src="https://code.jquery.com/jquery-3.4.1.js"
            integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
            crossorigin="anonymous"></script>

    <script src="scripts/functions.js"></script>
    <script src="scripts/add_chit_form_functions.js"></script>
    <script src="scripts/moment.js"></script>
    <title>Calendar-reminder</title>
</head>

<body>
<!-- implementation of adding chit form -->
<span id="form">
        <div id="addChitBox">
            <script>var addChitBox = document.getElementById('addChitBox');</script>
            <form class="p-3 ml-2 mr-2">
                <div class="form-row mt-3">
                    <div class="col">
                        Enter date of your planning:
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col">
                        <input type="date" id="dateInput" class="form-control" required>
                        <script>
                            let dateInput = $('#dateInput')[0];
                            let today = minDateInput();
                            dateInput.setAttribute("min", today);
                            dateInput.value = today;
                        </script>
                    </div>
                    <div class="col">
                        <input type="number" id="hour" class="form-control" onchange="checkHour(this)" placeholder="hour 0-23">
                         <script>
                            let hourInput = document.getElementById('hour');
                         </script>
                    </div>
                    <div class="col">
                        <input type="number" id="minute" class="form-control" onchange="checkMinute(this)" placeholder="minute 0-59">
                        <script>
                            let minutesInput = document.getElementById('minute');
                         </script>
                    </div>
                </div>
                <div class="form-row mt-4">
                    <div class="col">
                        Enter description of your planning:
                    </div>
                </div>
                <div class="form-row mt-2">
                    <div class="col">
                        <textarea id="formTextarea" class="md-textarea form-control" rows="3"></textarea>
                        <script>
                            let formTextarea = document.getElementById('formTextarea');
                        </script>
                    </div>
                </div>
                <button disabled id="buttonFormAdd" type="button" class="btn btn-primary mt-4"
                        onclick="addNewChit(document.getElementById('cards_container'), -1, formTextarea.value, getDateForm(), false); setCollapseChitBox(addChitBox, background); test()">Add</button>
            </form>
        </div>
        <div id="background" onclick="setCollapseChitBox(addChitBox, background)">
            <script>let background = document.getElementById('background');</script>
        </div>
</span>

<div class="container-fluid">
    <!-- header -->
    <div class="row mt-3 no-gutters">
        <div class="col-12 col-md-3">
            <h2 class="m-2"><img src="img/logo1.png" width="110" height="70"></h2>
        </div>
        <div class="col-12 col-md-7">
            Zalogowany jako: <%= user %>
        </div>
        <div class="col-12 col-md-1">
            <button class="btn btn-primary btn-sm mt-2 w-75" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                    onclick="setVisibleChitBox(addChitBox, background);"
                    type="button">Add Note
            </button>
        </div>
        <div class="col-12 col-md-1">
            <button class="btn btn-primary btn-sm mt-2 w-75" id="dropdownMenuButton"
                    onclick="logout()"
                    type="button">Log Out
            </button>
        </div>
    </div>
    <!-- chits -->

    <div id="cards_container" class="row mt-2">

        <!-- column 1 -->
        <div class="col-12 col-md-3 col-sm-6">

        </div>

        <!-- column 2 -->
        <div class="col-12 col-md-3 col-sm-6">

        </div>

        <!-- column 3 -->
        <div class="col-12 col-md-3 col-sm-6">

        </div>

        <!-- column 4 -->
        <div class="col-12 col-md-3 col-sm-6">

        </div>
    </div>
    <% results.forEach((result) => { %>
        <script>
            addNewChit(document.getElementById('cards_container'), "<%= result.id %>", "<%= result.title %>", "<%= result.time %>", true);
        </script>
    <% }); %>

</div>
</body>
<script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</html>