#addChitBox {
    position: absolute;
    left: calc(50vw - 250px);
    top: 100px;
    width: 500px;
    height: 350px;
    z-index: 20;
    background-color: white;
    border-radius: 15px;
    border: 1px ridge #2263C2;
    visibility: hidden;
}

#background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: 10;
    background-color: gray;
    opacity: 0.5;
    visibility: collapse;
}

#formTextarea {
    resize: none;
}

input[type=number] {
    -moz-appearance:textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body{
    font-family:arial,sans-serif;
    font-size:100%;
    margin:3em;
    background:#666;
    color:#fff;
}

h2,p{
    font-size:100%;
    font-weight:normal;
}

ul,li{
    list-style:none;
}

ul{
    overflow:hidden;
    padding:3em;
}

ul li a{
    text-decoration:none;
    color:#000;
    background:#ffc;
    display:block;
    height:10em;
    width:10em;
    padding:1em;
}

ul li{
    margin:1em;
    float:left;
}

.bg-blue {
    background: #2c6ed5;
}

.bg-red {
    background: #fa4251;
}

.bg-gra-01 {
    background: -webkit-gradient(linear, left bottom, left top, from(#fbc2eb), to(#a18cd1));
    background: -webkit-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -moz-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: -o-linear-gradient(bottom, #fbc2eb 0%, #a18cd1 100%);
    background: linear-gradient(to top, #fbc2eb 0%, #a18cd1 100%);
}

.bg-gra-02 {
    background: -webkit-gradient(linear, left bottom, right top, from(#fc2c77), to(#461279));
    background: -webkit-linear-gradient(bottom left, #fc2c77 0%, #461279 100%);
    background: -moz-linear-gradient(bottom left, #fc2c77 0%, #461279 100%);
    background: -o-linear-gradient(bottom left, #fc2c77 0%, #461279 100%);
    background: linear-gradient(to top right, #fc2c77 0%, #461279 100%);
}
